body {
    background-color: #fff;
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}
h1 {
    font-weight: normal;
    font-size: 140%;
}
#blocklyDiv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.toolBar{
    margin-left: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    box-shadow: #a8a8a8 0px 2px 1.5px 0px;

}
.logo{
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
#generateCode{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid;
}